{% extends "base.html" %}

{% block title %}SmartSpend | Add Expense{% endblock %}

{% block content %}
<section class="form-page-section">
    <div class="expense-form">
        <div class="form-hero">
            <h1 >Add New Expense</h1>
            <p>
                Log a new transaction to keep your records up to date.
            </p>
        </div>
        <form action="{{ url_for('add_expense') }}" method="post">
            <div class="form-buttons">
                <div>
                    <label for="expense-title">Expense Title</label><br>
                    <input type="text" placeholder="e.g. Lunch at Starbucks" id="expense-title" name="title" required><br>
                    
                    <label for="category">Category</label><br>
                    <select type="text" id="category" name="category" required>
                        <option value="" disabled selected hidden>Select Category</option>
                        <option value="Food">Food</option>
                        <option value="Transport">Transport</option>
                        <option value="Subscription">Subscription</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Bills">Bills</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div>
                    <label for="amount">Amount</label><br>
                    <input type="number" step="any" id="amount" name="amount" placeholder="0.00" required><br>

                    <label for="date">Date</label><br>
                    <input type="date" id="date" name="date" required>
                </div>
            </div>

            <label for="notes">Notes (Optional)</label><br>
            <textarea id="notes" placeholder="Add a note..." name="notes"></textarea>

            <div class="hero-actions">
                <input type="submit" class="button primary" value="Save Expense">
                <a href="{{ url_for('expenses') }}" class="button secondary">Cancel</a>
            </div>
        </form>
    </div>
    <div class="expense-tips">
        <div class="analytics-card">
                <h2>Expense Tips</h2>
                <div>
                    <div class="tips">
                        <svg class="title-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-search-icon lucide-text-search"><path d="M21 5H3"/><path d="M10 12H3"/><path d="M10 19H3"/><circle cx="17" cy="15" r="3"/><path d="m21 19-1.9-1.9"/></svg>
                        <div>
                            <h3>Be specific with titles</h3>
                            <p>It helps you track where your money goes.</p>
                        </div>
                    </div>
                    <div class="tips">
                        <svg class="category-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grid2x2-check-icon lucide-grid-2x2-check"><path d="M12 3v17a1 1 0 0 1-1 1H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v6a1 1 0 0 1-1 1H3"/><path d="m16 19 2 2 4-4"/></svg>
                        <div>
                            <h3>Choose the right category</h3>
                            <p>This makes your reports more accurate.</p>
                        </div>
                    </div>
                    <div class="tips">
                        <svg class="notes-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-pen-icon lucide-notebook-pen"><path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/></svg>
                        <div>
                            <h3>Add notes if needed</h3>
                            <p>Use notes to remember important details.</p>
                        </div>
                    </div>
                </div>
         </div>
    </div>
</section>

{% endblock %}
