<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartSpend{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="site-header">
        <nav class="nav">
           <a class="brand-link" href="{{ url_for('home') }}">
    <span class="brand-text">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-no-axes-combined-icon lucide-chart-no-axes-combined"><path d="M12 16v5"/><path d="M16 14.639V21"/><path d="M20 10.656V21"/><path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"/><path d="M4 18.463V21"/><path d="M8 14.656V21"/></svg>
        <span class="smart">Smart</span><span class="spend">Spend</span>
    </span>
    </a>
            <div class="nav-links" aria-label="Primary navigation">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('expenses') }}">Expenses</a>
                <a href="{{ url_for('analytics') }}">Analytics</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
